body {
    margin:0;
    padding:0;
    animation: fadein 2000ms ease-out;
    -moz-animation: fadein 2000ms ease-out; /* Firefox */
    -webkit-animation: fadein 2000ms ease-out; /* Safari and  Chrome */
    -o-animation: fadein 2000ms ease-out; /* Opera */
}

@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
    from {opacity:0;}
    to {opacity: 1;}
}
.contain {
    width: 100%;
    height: 100%;
    background-image: url(../img/Example.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position:absolute;
}
.SideMenu {
    width:60px;
    height:50px;
    margin:15px;
    opacity: 0.9;
    position:absolute;
    transition:all 0.25s linear;
}

input[id="menuicon"] {
    display:none;
}

input[id="menuicon"] + label {
    display:block;
    width:40px;
    height:40px;
    padding:5px;
    position:relative;
    cursor:pointer;
}

input[id="menuicon"] + label span {
    display:block;
    position:absolute;
    width:100%;
    height:5px;
    border-radius:30px;
    background:#000;
    transition:all .35s;
}

input[id="menuicon"] + label span:nth-child(1) {
    top:10%;
}

input[id="menuicon"] + label span:nth-child(2) {
    top:50%;
    transform:translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3) {
    bottom:10%;
}

input[id="menuicon"]:checked + label {
    z-index:2;
}

input[id="menuicon"]:checked + label span {
    background:#fff;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity:0;
}

input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
    width:300px;
    height:100%;
    background:#222;
    position:fixed;
    top:0;
    left:-300px;
    z-index:1;
    transition:all .35s;
}

input[id="menuicon"]:checked + label + div {
    left:0;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
}

.sidemenu {
    color: white;
    width: 300px;
    border-top: 3px solid #EDEDED;
    border-bottom: 3px solid #EDEDED;
    margin-top: 100px;
    z-index: 1;
}

.sidemenu > ul li {
    width: 230px;
    border-bottom: 1px solid #EDEDED;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 39px;
    letter-spacing: 0.12em; /* 글씨 자간 간격 */
    line-height: 39px; /* 글씨라인 높이 조정 */
    text-transform: uppercase; /* 대문자 변경 */
    margin-left: auto; /* 가운데 정렬 */
    margin-right: auto; /* 가운데 정렬 */
}

ul {
    -webkit-padding-start: 0px;
}

.sidemenu ul:nth-child(2) li:first-child {
    padding-top: 30px;
}

.sidemenu ul:nth-child(2) li:last-child {
    border-bottom: 0px;
}

li > a {
      color: white;
      text-decoration: none;
}

li > a:hover {
      color:aqua;
}